body {
	font-family: Helvetica; sans-serif;
	text-align: center;
}

.white, a {
	color: white;
}

header, .backimage {
	background-image: url("../images/the-flatiron-building.png");
}

h1 {
	font-size: 70px;
}

a {
	font-size: 18px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

p {
	font-size: 14px;
}

footer {
	background-color: dimgray;
	text-align: left;
}

footer p {
	font-size: 11px;
}